create repository output/pywikiparser
end repository

match /trunk/pywikiparser/
  repository output/pywikiparser
  branch master
  min revision 3914
end match

match .*
end match
