create repository output/pywikipedia
end repository

match /trunk/pywikipedia/
  repository output/pywikipedia
  branch master
end match

match /branches/rewrite/
  repository output/pywikipedia
  branch rewrite
end match

match .*
end match
